extends ../base
block variables
	- title = 'Блог'
	- descr = 'Статьи, которые я написала'
	- articlesTitle = ['Самое важное в SASS', 'Приемы в верстке', 'Самый необходимый набор Webpack плагинов', 'Плюсы использования шаблонизатора Pug']

block head
	title Блог
block content
	header.blog-header
		block header
		include ../includes/_header/_header

	.menu-tablets.menu-tablets__hidden
		.menu-tablets__bg
			button.open-menu
		.articles
			ul.articles__list
				each title in articlesTitle
					li.articles__item
						.articles__title
								a(class='articles__link articles__link-tablets'): |#{title}
	section.blog-main
		.about-figure-cut
			include ../../img/bg-about.svg
		.main-container.main-container__blog
			.blog-side.blog-side__left
				.articles
					ul.articles__list
						each title in articlesTitle
							li.articles__item
								.articles__title
										a(class='articles__link',href='#'): |#{title}
			.blog-content.blog-content__container
				.blog-article
					.subtitle
						.subtitle__text.subtitle__text_blog#sass: |#{articlesTitle[0]}
					.content-date
						| 22 ноября 2017
					.content-text
						p
							| Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p
							|Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				.blog-article
					.subtitle
						.subtitle__text.subtitle__text_blog#makeups: |#{articlesTitle[1]}
					.content-date
						.content-date__date: | 4 декабря 2017
					.content-text
						p
							| Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p
							|Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				.blog-article
					.subtitle
						.subtitle__text.subtitle__text_blog#webpack-plugins: |#{articlesTitle[2]}
					.content-date
						.content-date__date: | 25 декабря 2017
					.content-text
						p
							| Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p
							|Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


			include ../includes/_footer/_footer



